In [70]:
import pandas as pd 
data = pd.read_csv('C:/Users/Daniel/Desktop/Day2_input.txt')
data.columns = ["loc"]
data["loc"] = data["loc"].astype(str)
data = data["loc"].str.split(" ", n = 1, expand = True)
data.columns = ["loc", "mag"]
data["loc"] = data["loc"].astype(str)
data["mag"] = data["mag"].astype(int)
data

         loc  mag
0    forward    1
1       down    6
2    forward    8
3         up    3
4       down    1
..       ...  ...
995     down    2
996  forward    7
997     down    2
998  forward    8
999  forward    3

[1000 rows x 2 columns]

In [71]:
f=data.loc[data['loc'] == 'forward', 'mag'].sum()
u=data.loc[data['loc'] == 'up', 'mag'].sum()
d=data.loc[data['loc'] == 'down', 'mag'].sum()
print("Horizontal x depth: ")
print(f*(d-u))

Horizontal x depth:
1714950

In [72]:
aim = 0
fo = 0
dep = 0
for index, row in data.iterrows():
    if row['loc'] == 'forward':
        fo = fo + row['mag']
        dep = dep + (row['mag'] * aim)
    if row['loc'] == 'up':
        aim = aim - row['mag']
    if row['loc'] == 'down':
        aim = aim + row['mag']

In [73]:
print("Horizontal x depth: ")
print(dep*fo)

Horizontal x depth:
1281977850