In [232]:
import pandas as pd
from collections import Counter

df = pd.read_csv('day5_input.txt', sep="->", header=None, names=["one","two"], dtype=str)

<ipython-input-232-185623d8c2f0>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('C:/Users/E01124/Desktop/day6_input_test.txt', sep="->", header=None, names=["one","two"], dtype=str)
<ipython-input-232-185623d8c2f0>:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('C:/Users/E01124/Desktop/day5_input.txt', sep="->", header=None, names=["one","two"], dtype=str)

In [233]:
df.head(7)

        one       two
0  242,601     242,18
1  938,357    938,128
2  920,574    750,574
3  804,978    804,813
4  955,932      68,45
5  232,604    232,843
6   69,570    467,968

In [234]:
df[['x1','y1']] = df['one'].str.split(',',expand=True)
df[['x2','y2']] = df['two'].str.split(',',expand=True)
df = df.drop('one', 1)
df = df.drop('two', 1)
df = df.astype('int')
df

      x1   y1   x2   y2
0    242  601  242   18
1    938  357  938  128
2    920  574  750  574
3    804  978  804  813
4    955  932   68   45
..   ...  ...  ...  ...
495  716  232  983  232
496  975  183  975  759
497  934  958  117  958
498  538  806  538   84
499  695  677  629  677

[500 rows x 4 columns]

In [239]:
df1 = []
counter = 0
for i in range(len(df)):
    if df['x1'][i] > df['x2'][i] and df['y1'][i] == df['y2'][i]:
        for j in range(df['x2'][i], df['x1'][i]+1):
            df1.append([j,df['y1'][i]])
    if df['x1'][i] < df['x2'][i] and df['y1'][i] == df['y2'][i]:
        for j in range(df['x1'][i], df['x2'][i]+1):
            df1.append([j,df['y1'][i]])
    if df['y1'][i] > df['y2'][i] and df['x1'][i] == df['x2'][i]:
        for j in range(df['y2'][i], df['y1'][i]+1):
            df1.append([df['x1'][i],j])
    if df['y1'][i] < df['y2'][i] and df['x1'][i] == df['x2'][i]:
        for j in range(df['y1'][i], df['y2'][i]+1):
            df1.append([df['x1'][i],j])

In [240]:
df2 = pd.DataFrame(df1, columns=['x', 'y'])
vc = df2.value_counts()
print(len(vc[vc>1]))

4993

In [237]:
df1 = []
counter = 0
for i in range(len(df)):
    if df['x1'][i] > df['x2'][i] and df['y1'][i] == df['y2'][i]:
        for j in range(df['x2'][i], df['x1'][i]+1):
            df1.append([j,df['y1'][i]])
    if df['x1'][i] < df['x2'][i] and df['y1'][i] == df['y2'][i]:
        for j in range(df['x1'][i], df['x2'][i]+1):
            df1.append([j,df['y1'][i]])
    if df['y1'][i] > df['y2'][i] and df['x1'][i] == df['x2'][i]:
        for j in range(df['y2'][i], df['y1'][i]+1):
            df1.append([df['x1'][i],j])
    if df['y1'][i] < df['y2'][i] and df['x1'][i] == df['x2'][i]:
        for j in range(df['y1'][i], df['y2'][i]+1):
            df1.append([df['x1'][i],j])
    if df['x1'][i] != df['x2'][i] and df['y1'][i] != df['y2'][i]:
        if df['x1'][i] > df['x2'][i] and df['y1'][i] > df['y2'][i]:
            for j in range(df['x2'][i], df['x1'][i]+1):
                df1.append([j,df['y2'][i]+counter])
                counter += 1
            counter = 0    
        if df['x1'][i] > df['x2'][i] and df['y1'][i] < df['y2'][i]:
            for j in range(df['x2'][i], df['x1'][i]+1):
                df1.append([j,df['y2'][i]-counter])
                counter += 1
            counter = 0 
        if df['x1'][i] < df['x2'][i] and df['y1'][i] > df['y2'][i]:
            for j in range(df['x1'][i], df['x2'][i]+1):
                df1.append([j,df['y1'][i]-counter])              
                counter += 1
            counter = 0 
        if df['x1'][i] < df['x2'][i] and df['y1'][i] < df['y2'][i]:
            for j in range(df['x1'][i], df['x2'][i]+1):
                df1.append([j,df['y1'][i]+counter])
                counter += 1
            counter = 0

In [238]:
df2 = pd.DataFrame(df1, columns=['x', 'y'])
vc = df2.value_counts()
print(len(vc[vc>1]))

21101