In [126]:
import pandas as pd 
df = pd.read_csv('C:/Users/Daniel/Desktop/Day7_input.txt', sep=",", header=None, dtype=int)
df = df.T
df = df.rename(columns={0: 'dis'})
print(df.memory_usage(deep=True))
df

Index    8000
dis      4000
dtype: int64

      dis
0    1101
1       1
2      29
3      67
4    1102
..    ...
995    14
996     8
997    85
998    92
999  1579

[1000 rows x 1 columns]

In [127]:
fix = []
fuel = 0
for i in range(len(df)):
    fuel = 0
    for j in range(len(df)):
        x = i
        if df['dis'][j] > x:
            fuel = fuel + df['dis'][j] - x
        if df['dis'][j] < x:
            fuel = fuel + x - df['dis'][j]
        else:
            fuel = fuel + 0
    fix.append(fuel)

In [128]:
min(fix)

329389

In [130]:
fix = []
fuel = 0
temp = 0
for i in range(len(df)):
    fuel = 0
    for j in range(len(df)):
        x = i
        if df['dis'][j] > x:
            temp = df['dis'][j] - x + 1
            for k in range(temp):
                fuel = fuel + k
        if df['dis'][j] < x:
            temp = x - df['dis'][j] + 1
            for k in range(temp):
                fuel = fuel + k
        else:
            continue
    fix.append(fuel)

In [131]:
min(fix)

86397080